{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/my-account.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('styles/reviews.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="user">
        <div class="user__image">
            <img src="{{ asset('images/user.svg') }}" alt="">
        </div>
        <div class="user__info">
            <h1>@{{app.user.username}}</h1>
            <p>Amount of reviews: {{amountReviews}}</p>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="reviews-container">
        <div class="reviews-inner">
            {% for review in reviews | reverse %}
            <div class="review">
                    <div class="review__img">
                        <img src="{{review.codLibro.image}}" alt="">
                    </div>
                    <div class="review__info">
                        <a class="review__title" href="{{ path('bookDetail', {idBook: review.codLibro.isbn })}}">{{review.codLibro.title}}</a>
                        <p class="review__text">« {{review.text}} »</p>
                    </div>
                </div>
            {% endfor %}
            {% for book in loremBooks %}
            <div class="review">
                    <div class="review__img">
                        <img src="{{book.image}}" alt="">
                    </div>
                    <div class="review__info">
                        <a class="review__title" href="{{ path('bookDetail', {idBook: book.isbn })}}">{{book.title}}</a>
                        <p class="review__text">« Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae adipisci fugit maxime consequuntur, nam quas atque. »</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}