{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/book-detail.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('styles/reviews.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="book-detail">
        <div class="book-detail__image">
            <img src="{{bookById.image}}" alt="">
        </div>
        <div class="book-detail__info">
            <h2>{{bookById.title}}</h2>
            <p class="book-detail__author">{{bookById.author}}</p>
            <p class="book-detail__other-data">ISBN: {{bookById.isbn}}</p>
            <p class="book-detail__other-data">Editorial: {{bookById.publisher}}</p>
            <button class="book-detail__add-review">
                <a href="{{ path('writeReview', {id: bookById.isbn })}}">Add review</a>
            </button>
            <div class="book-detail__synopsis">
                <p class="book-detail__resumen">Resumen</p>
                <p class="book-detail__text">
                    <span class="book-detail__content">{{bookById.synopsis}}</span>
                    <!-- <span class="book-detail__more">Show more</span> -->
                </p>
            </div>
        </div>
    </div>
    <div class="reviews-container">
        <div class="reviews-inner">
            {% for item in myArray %}
                <div class="review">
                    <div class="review__img">
                        <img src="{{ asset('images/user.svg') }}" alt="">
                    </div>
                    <div class="review__info">
                        <span class="review__title">Book title</span>
                        <p class="review__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos harum, nemo eveniet doloribus numquam iusto vero velit quas, in earum cum, ipsam odio fugiat eligendi. Expedita in eius doloremque!</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}